<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqfcZlKb9I-LLit9LFe56VndZlt1V6hVc</string>
	<key>GCM_SENDER_ID</key>
	<string>60746230288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myCats.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cats-app-de6f9</string>
	<key>STORAGE_BUCKET</key>
	<string>cats-app-de6f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60746230288:ios:639c0a0e791a1926077895</string>
</dict>
</plist>